body {
  font-family:'Helvetica Neue', sans-serif;
  max-width: 50em;
  margin:auto;
  padding:2em 1em;
  background-color: #ccc;
}

nav {
  margin-bottom: 40px;
}

nav a {
  border: 1px solid black;
  margin: .5em;
  padding: .5em;
  background-color: #eeeeee;
}

nav a:hover {
  background-color: orange;
  color: blue;
}

a, a:visited {
  text-decoration: none;
  color: blue;
}

/*
a:hover {
  background-color: #ccc;
}
*/

ul {
  list-style-type: none;
}

li {
  margin: .25em;
}

h1 {
  font-inherit;
  color:inherit;
  letter-spacing:-.05em;
  text-decoration:none;
  border-bottom:1px solid black;
}

h2 > a {
  font-size: .75em;
}

input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
}

.artist-photo {
  width: 400px;
}

span.nationality {
  font-size: .5em;
}

.styled-select {
  margin-top: 5px;
}

.styled-select select {
  display: block;
  margin: 5px 0 20px 0;
  padding: 10px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
  font-size: 14px;
  height: 30px;
}

.search {
  margin-top: 20px;
  display: flex;
  max-width: 400px;
}

.search:before {
  /* Don't shrink or grow and use a default size */
  flex: 0 0 2.75em;
}

.searchbox-query {
  /* Shrink and grow as needed, but never shrink so
     small that we can't read the placeholder */
  flex: 1 0 8em;
}

.btn, input[type=submit] {
  width: auto;
  padding: 9px 15px;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}

.primary {
  background-color: #a55100;
}

.success {
  background-color: green;
}

.delete {
  background-color: red;
}

.red {
  color: red !important;
}

.btn {
  /* Never shrink or grow */
  flex: 0 0 auto;
  color: white;
  height: 38px;
  margin-top: 5px;
  border-radius: 5px;
}

.search-btn {
  flex: 0 0 auto;
  height: 38px;
  margin-top: 5px;
  border-radius: 0;
}

.btn > a {
  color: white;
}

.clear {
  text-align: center;
  height: 17px;
}

.playlist {
  font-style: italic;
  color: blue;
}

.playlist-container {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  /*text-align: center;*/
}
