<h2>New Song</h2>

<form action="/songs" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[preview_url]">Preview URL:</label>
  <input name="song[preview_url]">

  <label for="song[artist_id]">Artist:</label>
  <div class="styled-select">
    <select name="song[artist_id]">
      <optgroup>
        <option>Choose an artist</option>
        <% Artist.all.each do |artist| %>
          <option value="<%= artist.id%>">
            <%= artist.name %>
          </option>
        <% end %>
      </optgroup>
    </select>
  </div>

  <br>

  <input type="submit" class="btn success" value="Create">
</form>
